<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onCreate()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="fooName">Nombre:</label>
                    <input type="text" class="form-control" name="fooName" id="fooName"
                    [(ngModel)]="fooName" required autocomplete="off">
                </div>
                <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="fas fa-plus-circle"></i> Crear</button>
                    <button type="button" class="btn btn-outline-primary btn-block" (click)="volver()">
                        <i class="far fa-arrow-alt-circle-left"></i> Volver</button>
            </form>
        </div>
    </div>
</div>
